/* Style for main title and logo + GUI loading*/

@font-face {
    font-family: 'fonttitle';
    src: url('assets/digital-7.ttf') format('truetype');
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Corporation Games', Times, serif;
  margin-top: 15px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(6, 38, 49);
}

#slicer{
  position: absolute;
  background-image: url('assets/canva.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;            
  width: 950px;
  height: 550px;
  border: 0px solid black;
  border-radius: 0px;
  top: 450px;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
#logo {
  margin: 0; 
  left: 50%; 
  position: fixed;
  width: 90px;
  height: 90px;
  position: relative;
  transform: translate(-50%);
  top: 0px;
}

#container_logo {
  position: fixed;
  top: 50px; 
  left: 50px; 
  text-align: center;
}

/* Style for knobs including positioning, gradients, shadows and decorative effects */

.knob_container{
  position: absolute;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.knob_container::before{
  content: '';
  background: linear-gradient(0deg, #525252 0%, #373737 100%);
  position: absolute;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  box-shadow: inset 0px 5px 6px #979797,
              inset 0px -5px 6px #242424; 
}

.knob{
	width:45px;
	height:45px;
	position:relative;
	rotate: -45deg;
}

.knob .top{
	position:absolute;
	top:0;
	left:0;
	width:45px;
	height: 45px;
	background:url('knob.png') no-repeat;
	background-size: contain;
	z-index:0;
	cursor:default !important;
}

.knob .base{
	width:45px;
	height:45px;
	border-radius:50%;
	box-shadow:0 3px 0 #4a5056,5px 5px 5px #000;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.knob .top:after{
	content:'';
	width:6px;
	height:6px;
	background-color:#666;
	position:absolute;
	top:50%;
	left:6px;
	margin-top:-5px;
	border-radius: 50%;
	cursor:default !important;
	box-shadow: 0 0 1px #5a5a5a inset;
}


.knob::before,
.knob::after{
  content: '';
  position: absolute;
  border-radius: 50%;
}

.knob::before{
  top: 20%;
  left: 74%;
  width: 3px;
  height: 3px;
  background: #fff;
  box-shadow: 0px 0px 10px green;
}

.knob::after{
  border: 1px solid #fff;
  width: 43px;
  height: 43px;
  box-shadow: 0px 0px 4px green, inset 0px 0px 4px green;
}


#container_sensitivity{                         /* Positioning of each knob */
  transform: translate(1183%, 1030%);
}

#container_pitch{
  transform: translate(1569%, 780%);
}

#container_attack{
  transform: translate(1471%, 1030%);
}

#container_release{
  transform: translate(1667%, 1030%);
}

#container_pan{
  transform: translate(1962%, 780%);
}

#knob_sensitivity::before{
  box-shadow: 0px 0px 10px orange;
}

#knob_sensitivity::after{
  box-shadow: 0px 0px 4px orange, inset 0px 0px 4px orange;
}

/* Styles for the icons and the page background */

#info_img{
  width: 150px;
  height: 150px;
}

body {
background-image: url('assets/slicer.png'); 
background-size: cover; 
background-position: center; 
background-attachment: fixed; 
background-color: #cccccc; 
}

#lordIcon {
  position: relative;
  top: 16px;
  left: 16px;
 
}

#lordIcon2 {
  position: relative;
  top: 16px;
  left: 21px;
} 

#trash{
  position: relative;
  top: 16px;
  left: 415px;
}

#info{
  position: absolute;
  top: 18px;
  left: 895px;
}

/* Style for the file loading & controls header + waveform visualization */

#fileNameDisplay{
  position: absolute;
  top: 28px;
  left: 124px;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'fonttitle', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 373px; 
}


#waveformContainer{
  top: 26px;
  left: 2px;
}

#waveformCanvas{
  background-color: rgba(0, 0, 0, 0); 
}

#sliced_sample{
  position: absolute;
  top: 305px;
  left: 2px;
}

#play{
  position: absolute;
  top: 18px;
  left: 628px;
}

#pause{
  position: absolute;
  top: 18px;
  left: 678px;
}


/* Style for the PREVIEW section, including button text and icons */

#playsect{
position: relative;
top: 468px;
left: 4px;
width: 147px;
height: 34px;
background-color: rgba(0, 0, 0, 0);
border: none;
cursor: pointer;
}


#reversesect{
  position: relative;
  top: 458px;
  left: 2px;
  padding: 10px 20px;
  width: 290px;
  height: 34px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  }

  #reversetitle{
    position: absolute;
    bottom: 9px;
    left: 250px;
    font-size: 20px;
    font-family: 'Arial', Times, serif;
    cursor:pointer;
}

#reversesect.ledReverse{
  background-color: #2d2f35;
}



#playtitle{
  position: absolute;
  bottom: 9px; 
  left: 43px; 

  font-size: 20px;
  font-family: 'Arial', Times, serif;
  cursor:pointer;
}

#reversetitle{
  position: absolute;
  bottom: 9px; 
  left: 240px; 
  
  font-size: 20px;
  font-family: 'Arial', Times, serif;
  cursor:pointer;
}

#playtitleic{
  position: absolute;
  bottom: 5px; 
  left: 10%; 
  cursor: pointer;
}

#reverse1{
  position: absolute;
  bottom: 9px; 
  left: 36%; 
  cursor: pointer;
  transform: rotate(180deg);
}

#reverse2{
  position: absolute;
  bottom: 9px; 
  left: 37.5%; 
  cursor: pointer;
  transform: rotate(180deg);
}

#midiSelection{             /* In the top header */
  position: absolute;
  height: 25px;
  width: 130px;
  top: 25px;
  left: 732px;
  color: rgb(255, 255, 255);
  border: 2px solid #fff;
  background-color: rgb(32,36,43);
  font-size: 12px;
  font-family: 'Helvetica', sans-serif;
}

.playon {
   color: #32E0C4; 
}

#playsect.playing{
  background-color: #2d2f35;
}

.reverseon{
  color: #32E0C4;
}

#reversesect.reversing{
  background-color: #2d2f35;
}

/* Style for the SLICE section (mode selector) */

  /* To hide the checkbox */
#checkboxInput {
   display: none;
}


.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 352px;
  left: 452px;
  rotate: 90deg;
  width: 46px;
  height: 8px;
  background-color: #222831;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .2s;
  }

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  left: 0px;
  background-color: #FF9E00;
  border-radius: 50%;
  transition-duration: .2s;
  border: 2px solid #FF9E00;
}

.toggleSwitch:hover {
  opacity: 0.9;
}

#checkboxInput:checked+.toggleSwitch::after {
  transform: translateX(184%);
  transition-duration: .2s;
  border: 2px solid #FF9E00;
}

/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
  background-color: #222831;
  transition-duration: .2s;
}

#manualtitle{
  position: absolute;
  top: 334px;
  left: 492px;
  font-size: 13px;
  font-family: 'Arial', Times, serif;
  color: #FF9E00;
}

#transienttitle{
  position: absolute;
  top: 364px;
  left:492px;
  font-size: 13px;
  font-family: 'Arial', Times, serif;
}

#onsetTrash{
  position: absolute;
  top: 393px;
  left: 517px;
  background-color: #2e2f32;
  border-radius: 10%;
  cursor: pointer;
}


#onsetTrash:hover{
  opacity: 0.8;
}

/* Style for the MASTER section (volume slider and volume meter) */

.slidecontainer {
    width: 100%;
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  top: 484px;
  left: 785px;
  background: #000000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  rotate: -90deg;
}   

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 30px;
  border: 0;
  background: url('assets/slider.png');
  rotate: 90deg;
  background-size: cover;
  cursor: pointer;
}

.slider::-moz-range-thumb {
   width: 23px;
  height: 24px;
  border: 0;
  background: url('assets/slider.png');
  cursor: pointer;
}

#meter {
  width: 100px;
  height: 20px;
  background-color: #f0f0f000;
  border: 0.5px solid #ccc;
  position: relative;
  top: 50px;
  left: 853px;
  rotate: -90deg;
}

#volume-bar {
  height: 100%;
  background-color: #4caf50;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Knob labels */

#Sens_Lab{
  margin-top: 425px; 
  margin-left: 507px; 
  border: 1px solid #ffffff; 
  padding: 0px; 
  width: 50px; 
  height: 18px; 
  text-align: center; 
  color: white; 
  font-size: 14px;
}

#Att_Lab{
  margin-top: -17px; 
  margin-left: 630px; 
  border: 1px solid #ffffff; 
  padding: 0px; 
  width: 50px; 
  height: 18px; 
  text-align: center; 
  color: white; 
  font-size: 14px;
}


#Rel_Lab{
  margin-top: -18px;
  margin-left: 714px; 
  border: 1px solid #ffffff; 
  padding: 0px; 
  width: 50px; 
  height: 18px; 
  text-align: center; 
  color: white; 
  font-size: 14px;
}


#Pitch_Lab{
  margin-top: -125px; 
  margin-left: 673px; 
  border: 1px solid #ffffff; 
  padding: 0px; 
  width: 50px; 
  height: 18px; 
  text-align: center; 
  color: white; 
  font-size: 14px;
}


#Pan_Lab{
  margin-top: -18px; 
  margin-left: 842px; 
  border: 1px solid #ffffff; 
  padding: 0px; 
  width: 50px; 
  height: 18px; 
  text-align: center; 
  color: white; 
  font-size: 14px;
}

/* Style for the INFO popup*/

/* Popup container info&about */
.popup {
  font-family: Arial, sans-serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  top: -450px;
  left: 900px;
  color: white;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 700px;
  height: 300px;
  background-color: #030202;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  
  position: absolute;
  z-index: 1;
  top: 100px;
  left: -750px;
}

.popup .popuptext .close {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
font-size: 20px;
color: #fff;
z-index: 4;
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
 -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
  }

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 2;
visibility: hidden;
}

.overlay.show {
visibility: visible;
}

